/*----Page Layout Styles----*/
	* {
		font-family: 'Open Sans', sans-serif;
		margin: 0;
		padding: 0;
       
	}
	h1, h2, p {
		width: 960px;
		margin: 15px auto;
	}
	p {
		font-weight: 300;
	}
	h1 {
		font-size: 4em;
		font-weight: 700;
	}
	a {
		text-decoration: none;
	}
	a:link, a:visited {
		color: #fff;	
	}
	a:hover {
		color: red;	
	}
	/*----Slyder Styles ----*/
	#wrap, #long-wrap {
		position: relative;
	}
	#long-wrap a, .prev, .next {
		position: absolute;
	}
	#wrap {
		max-width: 960px;
		height: 450px;
		overflow: hidden;
		margin: 0 auto;
		background: #fff;
	}
	#long-wrap {
		width: 2880px;
		margin-left: -960px;
	}
	#long-wrap a {
		top: 0;
	}
	.prev, .next {
		top: 50%;
		z-index: 9;
		width: 55px;
		height: 70px;
		margin-top: -35px;
		opacity: .6;
	}
	.prev {
		left: 15px;
		background: url(img/arrowSprite.png) 0px 0px;
	}
	.next {
		right: 15px;
		background: url(img/arrowSprite.png) 55px 0px;
	}
